<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542613142854-lc2sl5nj3fv4jupfeptb2u2iaqipf0r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542613142854-lc2sl5nj3fv4jupfeptb2u2iaqipf0r0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542613142854-t30acqsl405tpdhca5t9n26k829c99ua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-S__Q0Si9-BtqoAm8IUuOFlpBuzd5Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>542613142854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TuringProject</string>
	<key>PROJECT_ID</key>
	<string>turingproject-7a448</string>
	<key>STORAGE_BUCKET</key>
	<string>turingproject-7a448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542613142854:ios:7715bfc0b9ed9050a23947</string>
</dict>
</plist>